:root {
    /* Primary Color */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral Color */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-blue-black: hsl(234, 17%, 12%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    /* width: 375px; */
    height: 100vh;
    background-image: linear-gradient(var(--very-dark-blue), rgba(40, 22, 58, 0.89));
}

.container {
    display: flex;
    flex-direction: column;
    /* Vertically Centered */
    align-items: center;
    /* Horicontally Centered */
    /* justify-content: center; */
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    z-index: 999;
}

.container .bg-stars {
    position: absolute;
    background-image: url(../images/bg-stars.svg);
    background-repeat: no-repeat;
    z-index: 1;
    height: 70vh;
    width: 100%;
}

.container .title {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 15%;
    margin-top: 30%;
    text-align: center;
    color: var(--white);
}

.container .timer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.container .timer > span {
    display: flex;
    width: 70px;
    height: 70px;
    box-shadow: 2px 3px 5px var(--very-dark-blue-black);
    background-color: var(--dark-desaturated-blue);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
    color: var(--soft-red);
    position: relative;
<<<<<<< Updated upstream
    z-index: 99;
}

.container .timer > span::before {
    content: "";
    display: block;
    width: 70px;
    height: 35px;
    background-color: var(--very-dark-blue);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 5px;
}

/* .container .timer > span::after {
    content: "";
    display: block;
    width: 70px;
    height: 35px;
    position: absolute;
    background-color: var(--dark-desaturated-blue);
    top: 50%;
    left: 0;
    opacity: .7;
    z-index: 1;
    border-radius: 5px;
} */

.container .timer > p {
    font-size: 8px;
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 2px;
}

.container .bg-mountain {
    position: absolute;
    background-image: url(../images/pattern-hills.svg);
    background-repeat: no-repeat;
    z-index: 1;
    bottom: 0;
    height: 20vh;
    width: 100%;
}

.container .bottom-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 5%;
    z-index: 999;
}

.container .bottom-icon > div {
    margin: 0 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 2%;
    z-index: 999;
    color: var(--grayish-blue);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
